89
/*  */
body{
    height: 100vh;
    width: 90vw !important;
    position: relative;

}
#container{
    width: 500px;
    left: 30%;
    top: 10%;
    height: 400px;
    background-color: #eee;
    border: 1px solid #333;
    margin: 0 auto;
    position: absolute;
  }
  
  .ball {
    width: 20px;
    height: 20px;
    background-color: #f00;
    border-radius: 50%;
    position: absolute;
  }
  .gameRestart{
      display: none;
      position: absolute;
      justify-content: center;
      align-items: center;
      font-size: 1.3em;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      color:#fff;
      width: fit-content;
      padding: 10px;
      background-color:rgb(94, 200, 94);
      top: 76%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 999;
  }
  .seat{
    width: 80px;
    height: 10px;
    background-color: #333;
    position: absolute;
    bottom: 0px;
    left: 210px;
  }
  .gameWinBox{
     position:absolute;    
     margin-top: 200px;
     margin-left: 160px;
     border: 1px solid black;
     padding:5px 15px;
     background-color: rgb(6, 74, 65);
     border-radius: 3px;
     color: #fff;
  }
  .gameOver{
    position:absolute;    
    margin-top: 200px;
    margin-left: 160px;
    border: 1px solid black;
    padding:5px 15px;
    background-color: rgb(6, 74, 65);
    border-radius: 3px;
    color: #fff;
  }
  
  .brick {
    width: 50px;
    height: 20px;
    background-color: #333;
    border: 1px solid #fff;
    position: absolute;
  }
  .changecolor{
    background-color: aquamarine;
  }